{% extends 'menuBar.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/actionTips.css' %}">
        <div class="slide-container">
            <ul class="slide">
                <li>
                    <img src="{% static 'image/finedust-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/heatWave-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/typhoon-preview.png' %}" alt="" />
                </li>
            </ul>
        </div>

        <div class="tab_container">
            <ul class="tab_menu">
                <li data-tab="tab_1" class="current">
                    <a href="{% url 'actions' %}">전체</a>
                </li>
                <li class="menuLine"></li>
                <li data-tab="tab_2">
                    <a href="{% url 'manuals' %}">메뉴얼</a>
                </li>
                <li class="menuLine"></li>
                <li data-tab="tab_3">
                    <a href="{% url 'cardNews' %}">카드뉴스</a>
                </li>
            </ul>

            <div id="tab_1" class="tab_content current">
                <div class="search_container">
                    <label>
                        <input type="text" id="search" onkeyup="filter()" placeholder="검색어를 입력해주세요." />
                        <span class="search_con" data-icon="ic:baseline-search"></span>
                        <hr class="search_line">
                    </label>
                </div>

                <div class="tab_menual_container">
                    <div class="listInner">
                        <div class="tab_cardnews_box">
                            <a href="">
                                <div class="cd-image">
                                    <img class="hashtag" src="{% static 'image/floodedCar_000.png' %}" alt="">
                                </div>
                                <div class="cd-hashtag">
                                    <p class="p-cardnews">#카드뉴스</p>
                                </div>
                                <div class="cd-text">
                                    <p class="title">침수차량 탈출법</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="{% url 'manual_scrap2' %}">
                                <p class="title">태풍 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#태풍_예보_시</li>
                                    <li>#태풍_특보_시</li>
                                    <li>#태풍_특보_중</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">지진 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#지진_예보시</li>
                                    <li>#지진경보</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">호우 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#사전준비</li>
                                    <li>#호우특보</li>
                                    <li>#호우_이후</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/actionTips_search.js' %}"></script>
    <script src="{% static 'js/actionTips_carousel.js' %}"></script>
{% endblock %}
