{% extends 'menuBar.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/actionTips.css' %}">
        <div class="slide-container">
            <ul class="slide">
                <li>
                    <img src="{% static 'image/finedust-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/heatWave-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/typhoon-preview.png' %}" alt="" />
                </li>
            </ul>
        </div>

        <div class="tab_container">
            <ul class="tab_menu">
                <li data-tab="tab_1"><a href="{% url 'actions' %}">전체</a></li>
                <li class="menuLine"></li>
                <li data-tab="tab_2" class="current"><a href="{% url 'manuals' %}">메뉴얼</a></li>
                <li class="menuLine"></li>
                <li data-tab="tab_3"><a href="{% url 'cardNews' %}">카드뉴스</a></li>
            </ul>

            <div id="tab_2" class="tab_content current">
                <div class="search_container">
                    <label>
                        <input type="text" id="search" onkeyup="filter()" placeholder="검색어를 입력해주세요." />
                        <hr class="search_line">
                    </label>
                </div>
                <div class="menual_container">
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">태풍 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#태풍_예보_시</li>
                                    <li>#태풍_특보_시</li>
                                    <li>#태풍_특보_중</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">지진 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#지진_예보시</li>
                                    <li>#지진경보</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">호우 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#사전준비</li>
                                    <li>#호우특보</li>
                                    <li>#호우_이후</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">폭염 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#평상시</li>
                                    <li>#폭염발생_시</li>
                                    <li>#폭염_관련_정보</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/actionTips_search.js' %}"></script>
    <script src="{% static 'js/actionTips_carousel.js' %}"></script>
{% endblock %}
