<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이:커뮤니티 페이지-리스트</title>
    <link rel="stylesheet" href="../static/css/communityList.css">
</head>
<body>
    {% load static %}
    <div class="container">
        <div class="hd"> <!-- 커뮤니티 상단 -->
            <form method="GET" class="areaSelect" action="{% url 'board_list' %}" > <!-- select box form으로 묶기-->
                <select name="region" id="area" onchange="this.form.submit()" required>
                    <option value="" disabled selected>지역 설정</option>
                    {% for value, display_text in region_choices %}
                    <option value="{{ value }}" {% if value == selected_region %}selected{% endif %}>{{ display_text }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="hdIcons"> <!-- 아이콘 부분 -->
                <div>
                    <a href="/">
                        <img src="{% static 'image/glass.png' %}" class="search" alt="돋보기">
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'board_post' %}">
                        <img src="../static/image/pencil.png" class="change" alt="글쓰기">
                    </a>
                </div>
                <div>
                    <a href="{% url 'accounts:my_page' pk=user.id %}">
                        <img src="{{ user.user_image.url }}" class="profile" alt="프로필">
                    </a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'accounts:login' %}">
                        로그인
                    </a>
                </div>
                {% endif %}
            </div> <!-- 아이콘 부분 끝 -->
        </div> <!-- 상단 끝 -->

        <div class="title"> <!--지역 소식 둥근 부분-->
            <a href="{% url 'board_list' %}">지역 소식</a>
        </div>

        <hr class="line"> <!-- 선 긋기 -->

        {% for board in boards %}
        <div class="content1"> <!--컨텐츠-->
                <div class="userInfo">
                    <img src="{{ board.user.user_image.url }}" alt="프로필">
                    <p class="nickName">{{ board.user.username }}</p>
                    <button type="submit" class="dotButton" onclick="appearButton1()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                    <form method="post" class="send1">
                        <button type="submit" class="reportBtn1">신고</button>
                    </form>
                </div>
            <a href="{% url 'board_detail' pk=board.pk %}"> <!--글 쪽을 누르면 글 상세보기 페이지로 넘어감-->
                <p class="text">
                    {{ board.description }}
                </p>
                <img src="{% static 'image/comment.png' %}" alt="" class="comment">
            </a>
        </div>

        <div class="lineBox"></div> <!--구분하기 위한 선-->
        {% endfor %}

        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="../static/image/back_blue.png" alt="뒤로가기">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="../static/image/home_gray.png" alt="홈">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="/">
                        <img src="../static/image/user_gray.png" alt="유저정보">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
    <script src="{% static 'js/communityList.js' %}"></script>
</body>
</html>