

{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main_page.css' %}">
        <!-- <div class="nav-bar"></div> --> <!--!!! 지우기 !!!!-->
        <!-- 배너 -->
        <div class="banner" style="background-image: url('{{ selected_banner.bannerwinner.url }}')">
            <p class="bannerTitle">{{ selected_banner.banner_title }}</p>
            <p class="move">
                <a href="">
                    <span class="text">알아보기</span>
                    <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                </a>
            </p>
        </div>
        <!-- 위치 표시 -->
        <div class="location">
            <div class="profile">
                <p>프로필</p>
            </div>
            <p class="site"> 내 위치: 경기도 양주시 <img src="{% static 'image/polygon-1.svg' %}" alt=""></p>
        </div>
        <!-- 주요 서비스 -->
        <div class="content">
            <div class="content1">
                <a href="{% url 'region_all' %}">
                    <button id="content1">
                        <h5>지역별 재난문자</h5>
                        <h6>다른 지역은 무슨 일 없나?</h6>
                        <img src="{% static 'image/phone.svg' %}" alt="">
                    </button>
                </a>

            </div>
            <div class="content2">
                <a href="{% url 'board_list' %}">
                    <button id="content2">
                        <h5>커뮤니티</h5>
                        <h6>서로 얘기해보자</h6>
                        <img src="{% static 'image/community.png' %}" alt="">
                    </button>
                </a>
            </div>
            <div class="content34">
                <a href="{% url 'shelter_enter' %}">
                    <button id="content3">
                        <h5>대피처</h5>
                        <h6>어디로 가야하지?</h6>
                        <img src="{% static 'image/shelter.svg' %}" alt="">
                    </button>
                </a>

                <a href="">
                    <button id="content4">
                        <h5>행동요령</h5>
                        <h6>재난별로 알아보자</h6>
                        <img src="{% static 'image/manual.svg' %}" alt="">
                    </button>
                </a>
            </div>
        </div>
 {% endblock %}