{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이: 카드뉴스 내용(캐러셀)</title>
{% comment %}
{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/cardnews_detail.css' %}">
</head> <!--del-->
<body> <!--del-->
    <div class="container">  <!--del-->
        <div class="hd"> <!--상단-->
            <p class="cardnews">카드뉴스</p>
        </div>

        <div class="title">
            <p class="cardTitle">폭염대비 건강수칙</p>
            <p class="time">등록일 2022.05.31</p> <!--삭제?-->
        </div>

        <div class="slide-container">
            <ul class="slide">
                <li>
                    <img src="{% static 'static/image/hot1.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'static/image/hot2.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'static/image/hot3.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'static/image/hot4.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'static/image/hot5.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static 'static/image/hot6.png' %}" alt="">
                </li>
            </ul>

            <div class="btn-container">
                <button class="prev-btn">
                    <img src="{% static 'image/newsArrow.png' %}" alt="뒤로가기" class="prev">
                </button>
                <button class="next-btn">
                    <img src="{% static 'image/newsArrow.png' %}" alt="앞으로 가기">
                </button>
            </div>
        </div>
{% comment %}
{% endblock %}
{% endcomment %}
    
        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="{% static 'image/back_blue.png' %}" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
    <script src="{% static 'js/cardnews_detail.js' %}"></script>
</body>
</html>