{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/manual_scrap.css' %}">
        <div class="nav_bar">
        </div>
        <div class="header">
            <h4>{{type}} 시 행동요령</h4>
                <div class="scrap-button">
                <form action="" method="post">
                    <input type="checkbox" id="scrap-checkbox" onclick="toggleStar()">
                    <label for="scrap-checkbox">
                        <span class="scrap-text">스크랩</span>
                        <span class="star">&#9734;</span>
                        <span class="filled-star">&#9733;</span>
                    </label>
                </form>
            </div>


        </div>
        <img src="{% static 'image/line.svg' %}" alt="">
        <div class="content">
            <div class="content1">
                <h4>{{type}} 예보 시</h4>
                <div class="slide-container">
                    <h2 class="slide-title"></h2>
                    <ul class="slide">
                        <li>
                            <img src="/{{ manual.image1 }}" alt="" />
                        </li>
                        <li>
                            <img src="/{{ manual.image2 }}" alt="" />
                        </li>
                        <li>
                            <img src="/{{ manual.image3 }}" alt="" />
                        </li>
                    </ul>
                    <div class="btn-container">
                        <button class="prev-btn">prev</button>
                        <button class="next-btn">next</button>
                    </div>
                </div>
                <div class="text">
                    <p>{{manual.description|linebreaksbr }}</p>
                </div>
            </div>
            <div class="content2">
                <h4>{{type}} 특보중</h4>
                <div class="slide-container">
                    <h2 class="slide-title"></h2>
                    <ul class="slide">
                        <li>
                            <img src="/{{ manual.image4 }}" alt="">
                        </li>
                        <li>
                            <img src="/{{ manual.image5 }}" alt="" />
                        </li>
                        <li>
                            <img src="/{{ manual.image6 }}" alt="" />
                        </li>

                    </ul>
                    <div class="btn-container">
                        <button class="prev-btn">prev</button>
                        <button class="next-btn">next</button>
                    </div>
                </div>
                <div class="text">

                    <p>{{manual.description_2|linebreaksbr }}</p>
                </div>
            </div>
            <div class="content3">
                <h4>{{type}} 이후</h4>
                <div class="slide-container">
                    <h2 class="slide-title"></h2>
                    <ul class="slide">
                        <li>
                            <img src="/{{ manual.image7 }}" alt="" />
                        </li>
                        <li>
                            <img src="/{{ manual.image8 }}" alt="" />
                        </li>
                        <li>
                            <img src="/{{ manual.image9 }}" alt="" />
                        </li>
                    </ul>
                    <div class="btn-container">
                        <button class="prev-btn">prev</button>
                        <button class="next-btn">next</button>
                    </div>
                </div>
                <div class="text">

                    <p>{{manual.description_3|linebreaksbr }}</p>
                </div>
            </div>
        </div>
        <script src="{% static 'js/manual_scrap.js' %}"></script>
{% endblock %}