{% extends 'menuBar.html' %}

{% block content %}

{% load static %}

    <link rel="stylesheet" href="{% static 'css/messageMain.css' %}">
        <div class="banner"> <!--배너 부분-->
            <p class="bannerTitle">미세먼지, 어떻게 해야할까?</p>
            <p class="move">
                <a href="">
                    <span class="text">알아보기</span>
                    <img src="{% static 'image/arrow.png' %}" alt="화살표">
                </a>
            </p>
        </div> <!--배너 부분 끝-->

        <div class="fixArea"> <!--즐겨찾기 부분-->
            <div class="title">지역별 재난문자</div>
            {% if user.is_authenticated %}
            <div class="star">
                <p class="starText">즐겨찾기</p>
                <p class="starIcon"><img src="{% static 'image/star_black.png' %}" alt="별" class="change"></p>
            </div>
            {% endif %}
        </div>


        <form method="post" name="area" id="area">
            {% if user.is_authenticated %}
                <!--즐겨찾기 박스들-->
                <div class="areaBox">
                    <div>
                        <button type="button" class="starBtn" onclick="toggleImage(this)">
                            <img src="{% static 'image/star_black.png' %}" alt="별">
                        </button>
                        <a href="#">
                            <div class="box">
                                <p class="areaName">서울</p>
                            </div>
                        </a>
                    </div>

                    <div>
                        <button type="button" class="starBtn" onclick="toggleImage(this)">
                            <img src="{% static 'image/star_black.png' %}" alt="별">
                        </button>
                        <a href="#">
                            <div class="box">
                                <p class="areaName">경기도</p>
                            </div>
                        </a>
                    </div>
                </div>

            <hr class="line">
            {% endif %}
            <!--지역별-->
            <div class="areaBox">
                {% for c in categories %}
                <div>
                    <button type="button" class="starBtn" onclick="toggleImage(this)">
                        <img src="{% static 'image/star_black.png' %}" alt="별">
                    </button>
                    <a href="{{ c.get_absolute_url }}">
                        <div class="box">
                            <p class="areaName">{{ c.region_name }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </form>

    <script src="{% static 'js/messageMain.js' %}"></script>
{% endblock %}