
{% extends 'menuBar.html' %}

{% block content %}

{% load static %}
{% load customtags %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_key }}"></script>
    <link rel="stylesheet" href="{% static 'css/shelter2.css' %}">

        <div class="nav_bar">
          <p>내 위치 주변 대피소 찾기</p>
        </div>
        <div id="map"></div>
        <!-- <form action="" method=""> -->
        <div class="location">
          <p id="locationInfo">내 위치: {{ full_address }}</p>
          <button id="getMyPositionBtn" onclick="getCurrentPosBtn()">내 위치 찾기</button>
        </div>
        <!-- </form> -->

        <form action="{% url 'shelter_location' %}" method="post" id="myinput">
            {% csrf_token %}
            <input id="inputX" name="locationX" hidden>
            <input id="inputY" name="locationY" hidden>
        </form>

        <div class="site">
            {% for i in "x"|rjust:"5" %}
                <div class="site1">
                    <img src="{% static 'image/line.svg'%}" alt="">
                    <h4>{{ locNames|getvalue:forloop.counter0 }}</h4> <br>
                    <h6>{{ locLocs|getvalue:forloop.counter0 }}</h6>
                </div>
            {% endfor %}
        </div>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng({{ locY }}, {{ locX }}), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
        var positions = [
            {
                content: '<div>내위치</div>',
                latlng: new kakao.maps.LatLng({{ locY }}, {{ locX }})
            },
            {
                content: '<div>{{ locLoc.0 }}</div>',
                latlng: new kakao.maps.LatLng({{ shelterYs.0 }}, {{ shelterXs.0 }})
            },
            {
                content: '<div>{{ locLoc.1 }}</div>',
                latlng: new kakao.maps.LatLng({{ shelterYs.1 }}, {{ shelterXs.1 }})
            },
            {
                content: '<div>{{ locLoc.2 }}</div>',
                latlng: new kakao.maps.LatLng({{ shelterYs.2 }}, {{ shelterXs.2 }})
            },
            {
                content: '<div>{{ locLoc.3 }}</div>',
                latlng: new kakao.maps.LatLng({{ shelterYs.3 }}, {{ shelterXs.3 }})
            },
            {
                content: '<div>{{ locLoc.4 }}</div>',
                latlng: new kakao.maps.LatLng({{ shelterYs.4 }}, {{ shelterXs.4 }})
            }
        ];

        for (var i = 0; i < positions.length; i ++) {

            var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
            });

        }
    </script>
    <script src="{% static 'js/shelter2.js' %}"></script>
{% endblock %}

