
{% extends 'menuBar.html' %}

{% block content %}

{% load static %}
{% load customtags %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ff7c48b467f31c35e3c51e12b7525385"></script>
    <link rel="stylesheet" href="{% static 'css/shelter2.css' %}">
   
        <div id="map"></div>
        <!-- <form action="" method=""> -->
        <p id="locationInfo">내 위치: <button id="getMyPositionBtn" onclick="getCurrentPosBtn()">내 위치 찾기</button></p>
        <!-- </form> -->

        <form action="{% url 'shelter_location' %}" method="post" id="myinput">
            {% csrf_token %}
            <input id="inputX" name="locationX" hidden>
            <input id="inputY" name="locationY" hidden>
        </form>

        <div class="site">
            {% for i in "x"|rjust:"5" %}
                <div class="site1">
                    <img src="{% static 'image/line.svg'%}" alt="">
                    <h4>{{ locNames|getvalue:forloop.counter0 }}</h4> <br>
                    <h6>{{ locLocs|getvalue:forloop.counter0 }}</h6>
                </div>
            {% endfor %}
        </div>
    <script src="{% static 'js/shelter2.js' %}"></script>
{% endblock %}

