@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    background-color: #FFF;
    font-family: 'GmarketSansMedium';
}

.nav-bar {
    width: 375px;
    height: 50px;
    background: #FFF;

}

.header>h3 {
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
    margin-left: 30px;
}

.section1>p {
    color: #878080;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    font-weight: bolder;
}

.section2>p {
    color: #878080;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    font-weight: bolder;
    margin-bottom: 150px;
}




/* 버튼 */

.button > button > a {
    font-family: 'GmarketSansMedium';
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}





.button button {
    width: 298px;
    height: 65px;
    margin-top: 250px;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-left: 38px;
    border: none;
    text-decoration: none;
   

}