
{% extends 'accounts/menuBar_mp.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/mypagepwreset.css' %}">

        <div class="nav-bar">
        </div>
        <h3>비밀번호 재설정</h3>
        <!-- input -->
        <form action="" method="post" onsubmit="return validateForm()">
            <p for="pw">현재 비밀번호</p>
            <input type="password" id="password" name="password">
            <p for="new-pw">새 비밀번호</p>
            <input type="password" id="new-password" name="new-password">
            <div class="pw-btn">
                <button type="button" onclick="togglePasswordVisibility('new-password')">보이기</button>
            </div>

            <p for="pw-check">비밀번호 재확인</p>
            <input type="password" id="password-check" name="password-check">
            <div class="pw-btn1">
                <button type="button" onclick="togglePasswordVisibility('password-check')">보이기</button>
            </div>

            <!-- 재설정 버튼 -->
            <div class="button">
                <button type="submit">재설정</button>
            </div>
        </form>

    <script src="{% static 'js/mypagepwreset.js' %}"></script>
{% endblock %}
