<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
{% comment %}
{% extends 'menuBar_mp.html' %}
{% block content %}
{% load static %}
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head> <!--del-->
<body> <!--del-->
    <div class="container"> <!--del-->
        <div class="nav-bar">
        </div>
        <h3>프로필</h3>
        <div class="input">

            <form id="profile-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="profile-image-input" class="custom-file-upload"><img id="user"
                    src="{{ user.user_image.url }}" alt=""></label>
                <input type="file" name="user_image" id="profile-image-input" accept="image/*">
                <p for="nickname">아이디</p>
                <input class="nickname" type="text" id="nickname" name="username" required
                    oninput="validateNicknameInput()" value="{{ form.username.value|default_if_none:'' }}">

                <p for="email">이메일</p>
                <input class="nickname" type="email" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}" required readonly>

                <div class="button">
                    <button type="submit">확인</button>
                </div>
            </form>
{% comment %}
{% endblock %}
{% endcomment %}
            <div id="ft"> <!-- 메뉴 하단바 -->
                <div class="ftIcons">
                    <div class="back"> <!--뒤로가기-->
                        <a href="">
                            <img src="../static/image/back_blue.png" alt="">
                        </a>
                    </div>

                    <div class="home"> <!--메인(홈)으로 가기-->
                        <a href="">
                            <img src="../static/image/home_gray.png" alt="">
                        </a>
                    </div>

                    <div class="user"> <!--마이페이지로 가기-->
                        <a href="">
                            <img src="../static/image/user_gray.png" alt="">
                        </a>
                    </div>
                </div>
            </div> <!-- 메뉴 하단바 div 끝-->
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>