{% extends 'menuBar_mp.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/pwfind.css' %}">
        <div class="nav-bar"></div>
        <h3>비밀번호 찾기</h3>
        <div class="input">
            <form action="" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <p for="name">아이디</p>
                <input type="text" id="name" name="username" required>
                <p for="email">이메일</p>
                <input type="email" id="email" name="email" required>
                <div class="button">
                    <button type="submit">찾기</button>
                </div>
            </form>
        </div>
        <script src="{% static 'js/pwfind.js' %}"></script>
{% endblock %}


