{% extends 'accounts/menuBar_mp.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/pwreset.css' %}">
        <div class="nav-bar">
        </div>
        <h3>비밀번호 재설정</h3>
        <div class="input">
            <form action="" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <p for="password">새 비밀번호</p>
                <input type="password" id="password" name="new_password1" required>
                <p for="password-reset">비밀번호 확인</p>
                <input type="password" id="password-reset" name="new_password2" required>
                <div class="button">
                    <button type="submit">재설정</button>
                </div>
            </form>
        </div>

    <script src="{% static 'js/pwreset.js' %}"></script>
{% endblock %}