<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이: 행동요령 - 전체</title>
    <!-- <link rel="stylesheet" href="../static/css/menuBar.css">
    <link rel="stylesheet" href="../static/css/actionTips.css"> -->

    <link rel="stylesheet" href="{% static 'css/menuBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/actionTips.css' %}">
</head>
<body>
    <div class="container">
        <!-- 캐러슬 -->
        <div class="slide-container">
            <ul class="slide">
                <li>
                    <img src="{% static 'image/finedust-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/heatWave-preview.png' %}" alt="" />
                </li>
                <li>
                    <img src="{% static 'image/typhoon-preview.png' %}" alt="" />
                </li>
            </ul>
        </div>

        <div class="tab_container">
            <ul class="tab_menu">
                <li data-tab="tab_1" class="current"><a href="{% static 'html/templates/actionTips_main.html' %}">전체</a></li>
                <li class="menuLine"></li>
                <li data-tab="tab_2"><a href="{% static static 'html/actionTips_menual.html' %}">메뉴얼</a></li>
                <li class="menuLine"></li>
                <li data-tab="tab_3"><a href="{% static 'html/actionTips_cardnews.html' %}">카드뉴스</a></li>
            </ul>

            <!-- 전체 -->
            <div id="tab_1" class="tab_content current">
                <!-- 검색 -->
                <div class="search_container">
                    <label>
                        <input type="text" id="search" onkeyup="filter()" placeholder="검색어를 입력해주세요." />
                        <span class="search_con" data-icon="ic:baseline-search"></span>
                        <hr class="search_line">
                    </label>
                </div>

                <!-- 전체 탭 콘텐츠 내용 -->
                <!-- 내용(카드뉴스 & 메뉴얼)  -->
                <div class="tab_menual_container">
                    <div class="listInner">
                        <div class="tab_cardnews_box">
                            <a href="">
                                <div class="cd-image">
                                    <img class="hashtag" src="{% static 'image/waterCar_000.png' %}" alt="">
                                </div>
                                <div class="cd-hashtag">
                                    <p class="p-cardnews">#카드뉴스</p>
                                </div>
                                <div class="cd-text">
                                    <p class="title">침수차량 탈출법</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <hr class="menual_line"> -->
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">태풍 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#태풍_예보_시</li>
                                    <li>#태풍_특보_시</li>
                                    <li>#태풍_특보_중</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">지진 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#지진_예보시</li>
                                    <li>#지진경보</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                    <div class="listInner">
                        <div class="menual_box">
                            <a href="#">
                                <p class="title">호우 발생 시 행동요령</p>
                                <ul class="hashtag">
                                    <li>#사전준비</li>
                                    <li>#호우특보</li>
                                    <li>#호우_이후</li>
                                </ul>
                            </a>
                            <hr class="menual_line">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 메뉴 하단바 -->
        <div id="ft">
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="{% static 'image/back_blue.png' %}" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="{% static 'image/home_gray.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->

    </div>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'js/actionTips_search.js' %}"></script>
    <script src="{% static 'js/actionTips_carousel.js' %}"></script>

    <!-- 아이콘 -->
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script> -->
</body>
</html>
